@using EcommerceAppModels
@model Product 

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" asp-for="Name"/>
    </div>
   
    <button class="btn-success" type="submit">Save</button>
</form>